:root {
    --color-navy: #001832;
    --color-blue: #002D5F;
    --color-light: #F0F0F0;
    --color-light2: #C2DEFC;
    --color-medium: #0057B8;
    --color-medium2: #527FAF;
    --color-dark: #343A40;
    --block-height: 70px;
}

#map, #mapIPF, #mapNUF {
    height: 100%;
}

.active {
    color: white;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Merriweather', serif;
    height: 100%;
    width: 100%;
    /*position: relative;*/
}

img {
    border: 10px solid var(--color-dark);
    width: 100%;
    height: 80%;
}

.picture-roll {
    width: 370px;
    height: 250px;
    margin: 0 7px 0 7px;
}

h2 {
    margin: 15px 0 0 15px;
    padding: auto;
}

p, a {
    margin: 0 0 0 15px;
}

.address p {
    font-weight: bold;
    margin: 15px;
}

.card {
    margin: 15px 0 0 15px;
    background-color: var(--color-light);
}

.cart-text, .card-body {
    padding: auto;

}

.section {
    margin: 15px 15px 15px 15px;
}

.block {
    height: var(--block-height);
    font-size: larger;
    padding: 20px;
    background-color: var(--color-dark);
    width: 100%;
}

.block-light {
    font-size: larger;
    padding: 20px;
    background-color: var(--color-light2);
}

a {
    color: black;
}

footer a {
    color: white;
}

.block-footer{
    position: relative;
    top: 0;
}

.block-footer-map {
    position: fixed;
    bottom: 0;
    margin-top: var(--block-height);
}

footer {
    display: flex;
    justify-content: center;
    padding: auto;
}

.block-footer-team {
    position: fixed;
    top: 100%;
}

.row {
    width: 102%;
    height: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 170px;
    background-color: var(--color-medium2);
    margin: 5px;
    border: 1px solid var(--color-dark);
    justify-content: space-between;
    padding: 5px;
}

.form-large {
    height: 230px;
}

.form-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*width: 20%;*/
}

.form-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row-info {
    width: 100%;
}

.row-small {
    height: 210px;
    padding: 10px;
}

.main-col {
    width: 70%;
    background-color: var(--color-medium2);
    height: 100%;
}

.side-col {
    width: 30%;
    background-color: var(--color-light2);
    height: 100%;
}


.tr-even {
}

.tr-odd {
    background-color: var(--color-light);
}

thead {
    background-color: var(--color-medium2);
}

#scheduleVue {
    margin-left: 10px;
}

.table {
    margin: auto;
    border: 2px solid var(--color-dark);
}

.table-small {
    /*width: ;*/
}

.section {
    border: 2px solid var(--color-dark);
    padding: 0 0 10px 0;
}

.dropdown-item:hover {
    background-color: transparent;
}

.page-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.navbar-secondary {
    background-color: lightgray;
    padding: 5px;
}


